// z-index
$header_zindex: 99998;
$flip-layer_zindex: 99999;

// color
$primary-color: #222222;
$second-color: #FAFAFA;
$primary-text-color: #ffffff;
$second-text-color: #222222;

// font
$primary-font-family: 'Roboto',
san-serif;

// layout
$header-height: 4em;